@charset "UTF-8";
/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

header {
  margin: 20px auto;
  color: black;
  background-color: beige;
  /* declaro flexbox*/
  display: flex;
  justify-content: left;
}

.menu {
  /* mix de colores*/
  color: black;
  width: 900px;
  /* declaro flexbox*/
  display: flex;
  justify-content: left;
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.titulo-principal {
  color: lime;
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.titulo-secundario {
  color: lightsalmon;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.imagen-central-conteiner {
  /*declaro flex*/
  background-color: beige;
  display: flex;
  justify-content: center;
}

.parrafo-principal {
  color: grey;
  text-align: center;
  font-size: 20px;
}

.imagenes-secundarias {
  border: 10px;
  margin: 2rem 0;
  width: 30%;
}
@media (max-width: 576px) {
  .imagenes-secundarias {
    width: 100%;
  }
}

/* declaro flex*/
.imagenes-secundarias-conteiner {
  /*Declaro flex*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .imagenes-secundarias-conteiner {
    flex-direction: column;
  }
}

.footer-conteiner {
  background-color: beige;
  /* declaro flexbox*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-conteiner .section3 {
  margin: 40px;
  /*declaro flexbox*/
  display: flex;
  /* distribución horizontal*/
  justify-content: space-around;
}
@media (max-width: 576px) {
  .footer-conteiner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-conteiner .footer-texto h4 {
  font-size: 1.2rem;
}
.footer-conteiner .footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-conteiner .footer-form button {
  width: 50%;
}
@media (max-width: 576px) {
  .footer-conteiner .footer-form button {
    margin-top: 1rem;
  }
}
.footer-conteiner img {
  width: 30%;
}
@media (max-width: 576px) {
  .footer-conteiner img {
    width: 100%;
    margin: 1rem 0;
  }
}
.footer-conteiner .footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 576px) {
  .footer-conteiner {
    margin-left: 9rem;
  }
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.titulo-principal {
  color: lime;
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.titulo-secundario {
  color: lightsalmon;
  text-overflow: inherit;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.novedades div p {
  font-size: 1.2rem;
  color: grey;
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.titulo-principal {
  color: lime;
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.titulo-secundario {
  color: lightsalmon;
  text-overflow: inherit;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.parrafo-receta {
  text-align: center;
  color: black;
}

.imagenes-recetas {
  justify-content: center;
}

.footer-conteiner {
  background-color: beige;
  /* declaro flexbox*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer-conteiner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-conteiner .footer-texto h4 {
  font-size: 1.2rem;
}
.footer-conteiner .footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-conteiner .footer-form button {
  width: 50%;
}
@media (max-width: 576px) {
  .footer-conteiner .footer-form button {
    margin-top: 1rem;
  }
}
.footer-conteiner img {
  width: 30%;
}
@media (max-width: 576px) {
  .footer-conteiner img {
    width: 100%;
    margin: 1rem 0;
  }
}
.footer-conteiner .footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 576px) {
  .footer-conteiner .footer-contacto {
    margin-left: 9rem;
  }
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.titulo-principal {
  color: lime;
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.titulo-secundario {
  color: lightsalmon;
  text-overflow: inherit;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.parrafo-articulo {
  text-overflow: inherit;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.footer-conteiner {
  background-color: beige;
  /* declaro flexbox*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer-conteiner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-conteiner .footer-texto h4 {
  font-size: 1.2rem;
}
.footer-conteiner .footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-conteiner .footer-form button {
  width: 50%;
}
@media (max-width: 576px) {
  .footer-conteiner .footer-form button {
    margin-top: 1rem;
  }
}
.footer-conteiner img {
  width: 30%;
}
@media (max-width: 576px) {
  .footer-conteiner img {
    width: 100%;
    margin: 1rem 0;
  }
}
.footer-conteiner .footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 576px) {
  .footer-conteiner .footer-contacto {
    margin-left: 9rem;
  }
}

/*Variables generales*/
/* Colores*/
html {
  margin: 40px;
  /* Animaciones*/
}
html .html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.titulo-principal {
  color: lime;
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.titulo-secundario {
  color: lightsalmon;
  text-overflow: inherit;
  text-align: left;
  font-family: "Special Elite", cursive;
}

/*# sourceMappingURL=style.css.map */
