@import "../../base/variables";
@import "../../base/html";

body {
    background-color: $color-4;
}

.titulo-principal {
    color: $color-1;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

.titulo-secundario {
    color: $color-2;
    text-overflow: inherit;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.novedades {
    div {
        p {
            font-size: 1.2rem;
            color: $color-3;
        }
    }
}

.footer-conteiner {
    background-color: beige;
    /* declaro flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .footer-texto {
        h4 {
            font-size: 1.2rem
        }
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            width: 50%;
        }
    }

    img {
        width: 30%;
        }
    

    .footer-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
