@import "../../base/variables";
@import "../../base/html";

body {
    background-color: $color-4;
}

.titulo-principal {
    color: $color-1;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

.titulo-secundario {
    color: $color-2;
    text-overflow: inherit;
    text-align: center;
    font-family: 'Special Elite', cursive;
}