@import "../base/variables";
@import "../base/html";

    body    {
    background-color : $color-4 ;
    }
    
    .titulo-principal {
        color: $color-1;
        font-family: 'Lobster Two', cursive;
        text-align: center;
    }
    .titulo-secundario {
        color: $color-2; 
        text-overflow: inherit; 
        text-align: center; 
        font-family: 'Special Elite', cursive; 
    }
    
    .imagen-central-conteiner {
        /*declaro flex*/
        background-color: beige;
        display: flex;
        justify-content: center;
    }
    .parrafo-principal {
        color: $color-3;
        text-align: center;
        font-size: 20px;
    }
                
    .imagenes-secundarias {
    border: 10px;
    margin: 2rem 0;
    width: 30%;
        @media (max-width: 576px) {
            width: 100%;
        }
    
    }

    /* declaro flex*/
    .imagenes-secundarias-conteiner {
    /*Declaro flex*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }