@import "../base/variables";
@import "../base/html";


header {
    margin: $margin-general;
    color: black;
    background-color: beige;
    $pading-general: 20px;
    /* declaro flexbox*/
    display: flex;
    justify-content: left;
}

.menu {
    /* mix de colores*/
    color: black;
    width: 900px;
    /* declaro flexbox*/
    display: flex;
    justify-content: left;
}




